.dialog-fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.dialog-field {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.dialog-field-key {
    font-weight: bold;
    min-width: 48px;
}

.dialog-footer {
    display: flex;
    gap: 1rem;
    justify-content: end;
    margin-top: 1rem;
}
